@font-face {
    font-family: "oswald";
    src: url("/font/Oswald/static/Oswald-Regular.ttf");
    font-weight: 500;
}
@font-face{
    font-family: "oswald-bold";
    src: url("/font/Oswald/static/Oswald-Bold.ttf");
    font-weight: 100;
}
/*
@font-face{
    font-family: "SFPro";
    src: url("/font/SF\ Pro/SFPro");
    font-weight: 100;
}
*/
h1 {
    color: brown;
    font-family: "SFPro";
    text-align: center;
}
h2 {
    color: green;
    font-family: "oswald-bold";
}
p {
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
img {
    width: 15%;
    box-shadow: 3px 3px 7px burlywood;
    margin: 5px;
    
}
li{
    color: yellowgreen;
}

#colorDiv {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(26, 136, 4);
}
#colorDiv2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 255,0.5);
}
#colorDiv3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 255,0.25);
}
html{
    background-color: #e0e0e0;
   /* background-image: url("../img/pattern2.jpg");
    */
}
/* #menuBar{
    display: inline;
    width: max-content;
    height: 200px;
    background-color: hotpink;

} */
#Div3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(226, 186, 8);
}
#rightCol {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: rgb(226, 186, 8);
    margin-right: 0;
    padding-right: 0;
}
#leftCol {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: rgb(226, 186, 8);
 /*   margin-left: 0;
    padding-right: 0;
  */  
}

#weatherWidget {
    color:  rgb(226, 186, 8);
    background-color: rgb(155, 22, 5);
}
#wd{
    color:  rgb(226, 186, 8);
}
#bwotd{
    background-color: rgb(0, 0, 0);
    color:  rgb(226, 186, 8);
}
#temperatureDisplay{
   /* background-color: rgb(226, 186, 8);*/
    color:  rgb(226, 186, 8);
   
    float: right;

}
#offersDisplay{
  
    float: right;
}
#minTemp{
    background-color: rgb(155, 22, 5);
    float: left;
}
#avgTemp{
    background-color: rgb(155, 22, 5);
    float: left;
}
#maxTemp{
    background-color: rgb(155, 22, 5);
    float: left;
} 